doctype html
html
    head
        title hashtag :: Koding 2014 Hackathon Challenge

        link(rel='stylesheet' href='/css/styles.css' type='text/css')

        link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')

        script(src='/js/jquery-2.1.1.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-cookies.js')

        script(src='/socket.io/socket.io.js')
        script(src='/js/toothpick.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')                

    body(ng-app="ToothpickApp" ng-controller="ToothpickController")

        div(class="message-container")
            div(ng-if="me.gameStarted && me.isTurn && !me.gameOver" class="turn-status") It's your turn
            div(ng-if="me.gameStarted && !me.isTurn && !me.gameOver" class="turn-status") It's your opponent turn
            div(ng-if="me.gameRequired && !me.gameStarted") Waiting for someone
            div(ng-if="me.gameOver && me.winner") You win!
            div(ng-if="me.gameOver && !me.winner") You lose!

        div(class="sudo-zone")
            div(class="outer-zone upper-outer-zone")
            div(class="outer-zone lower-outer-zone")
            div(class="inner-zone")
                div(class="toothpick-column toothpick-column-3")
                    div(class="toothpick tp" draggable="{{me.isTurn}}" ng-animate="'tp'" ng-repeat="tp in columns.column3")
                        img(src="/images/toothpick_1024.png"  )
                div(class="toothpick-column toothpick-column-6")
                    div(class="toothpick tp" draggable="{{me.isTurn}}" ng-animate="animate" ng-repeat="tp in columns.column6")
                        img(src="/images/toothpick_1024.png"  draggable="{{me.isTurn}}")
                div(class="toothpick-column toothpick-column-9")
                    div(class="toothpick" draggable="{{me.isTurn}}" ng-animate="animate" ng-repeat="tp in columns.column9")
                        img(src="/images/toothpick_1024.png")

            div(class="inner-zone splash" ng-if="!me.gameRequired || me.gameOver")
                p(class="splash-head")
                    bold The Rules
                p(class="splash-rule") 1. Pick as many toothpicks from a pile at a time.
                p(class="splash-rule") 2. The one who picks the last toothpick loses.


                button(ng-click="startGame()" ng-if="!me.gameOver") Start
                button(ng-click="startGame()" ng-if="me.gameOver") Play Again
