doctype html
html
    head
        title hashtag :: Koding 2014 Hackathon Challenge

        link(rel='stylesheet' href='/css/styles.css' type='text/css')

        link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')

        script(src='/js/jquery-2.1.1.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-cookies.js')

        script(src='/socket.io/socket.io.js')
        script(src='/js/toothpick.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')                

    body(ng-app="ToothpickApp" ng-controller="ToothpickController")

        div(class="message-container")
            div(ng-if="me.gameStarted && me.isTurn") Thats your turn
            div(ng-if="me.gameStarted && !me.isTurn") Thats your opponent turn
            div(ng-if="me.gameRequired && !me.gameStarted") Waiting for someone
        


        div(class="sudo-zone")
            div(class="outer-zone upper-outer-zone")
            div(class="outer-zone lower-outer-zone")
            div(class="inner-zone")
                div(class="toothpick-column toothpick-column-3")
                    div(class="toothpick" draggable="{{me.isTurn}}" ng-repeat="tp in columns.column3")
                        img(src="/images/toothpick_1024.png")
                div(class="toothpick-column toothpick-column-6")
                    div(class="toothpick" draggable="{{me.isTurn}}" ng-repeat="tp in columns.column6")
                        img(src="/images/toothpick_1024.png")
                div(class="toothpick-column toothpick-column-9")
                    div(class="toothpick" draggable="{{me.isTurn}}" ng-repeat="tp in columns.column9")
                        img(src="/images/toothpick_1024.png")

            div(class="inner-zone splash" ng-if="!me.gameRequired || me.gameOver")
                div(class="splash-head") 2 simple rules
                div(class="splash-rule") Pick as many toothpicks from a pile at a time
                div(class="splash-rule") The one who picks the last toothpick loses
                
                div(ng-if="me.gameOver && me.winner") You win!
                div(ng-if="me.gameOver && !me.winner") You loser!
    
                button(ng-click="startGame()") Start